.header{
    display: flex;
    justify-content: center;
}

.section{
    border-top: 16px solid white;
}

.h-div{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.h-div-el{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}
.h-div-sq{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.slider{
    height: 500px;
    background-color: tomato;
    border-radius: 20px;
}